.hidden {
    display: none;
}

body{
    margin:0;
    padding: 0;
    background-color: black;
    height: 100%;
}
.overlay {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 24px;
    overflow: hidden;
  }
  .content {
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    animation: fade-in 5s linear forwards;
  }
  @keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .blink {
    animation: blink 1s infinite;
    display: inline-block;
  }